{% extends "layout.html" %}
{% block content %}
<div class="container mt-4">
    <h1>Sobre ADRIANA</h1>
    <div class="card">
        <div class="card-body">
            <h2 class="card-title">¿Qué es ADRIANA?</h2>
            <p class="card-text">ADRIANA es una plataforma que combina inteligencia artificial con técnicas de psicología para ayudar a las personas a manejar el estrés y la ansiedad.</p>
            
            <h3 class="mt-4">Funciones Principales</h3>
            <ul>
                <li><strong>Chatbot:</strong> Interactúa en tiempo real para ofrecer apoyo emocional y técnicas de relajación.</li>
                <li><strong>Comunidad:</strong> Comparte pensamientos y progreso personal con otros usuarios.</li>
                <li><strong>Módulos de Relajación:</strong> Ejercicios y videos guiados para reducir el estrés.</li>
                <li><strong>Módulos de Respiración:</strong> Técnicas para calmar el sistema nervioso.</li>
                <li><strong>Seguimiento del Progreso:</strong> Registra y visualiza tu evolución en la gestión del bienestar.</li>
            </ul>

            <h3 class="mt-4">Conéctate en Telegram</h3>
            <p>Interactúa con ADRIANA también en Telegram para obtener asistencia directa:</p>
            <a href="https://web.telegram.org/k/#@adriana_stress_bot" class="btn btn-primary" target="_blank">Chatea con ADRIANA en Telegram</a>
        </div>
    </div>
</div>
{% endblock content %}
